$primary: #FAF1E6;
$secondary: #064420;
$success:  #E4EFE7;
$danger:    #fdfaf6;

@import "../../Projekte/Bildergalerie/node_modules/bootstrap/scss/bootstrap.scss";



#text-box{
    justify-content: center;
    width: 30%;
    border-radius: 5px;
    background-color: #fdfaf687 !important;
}
  @media(max-width: 991px){
    
    body{ 
        height: 100vh;
        display: grid;
        grid-template-rows: 12vh 1fr 10vh;
        grid-template-areas: "nav nav nav"
                             "main main main"
                             "footer footer footer";
    }
    nav{
        grid-area: nav;
    }
    footer{
        grid-area: footer;

    }
    #flex{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
      #carousel-img{
          width: 100% !important;
          height: 100% !important;
          object-fit:cover;

      }
  }
@media(min-width: 992px){
    #carousel-img{
        height: 100vh !important;
        width: 100vw !important;
        object-fit:cover;
        object-position: center;
        margin:auto 0 !important;
    }
    #nav{
        position: fixed;
        z-index: 12;
        width: 100vw;
    }
 }
