$primary: #FAF1E6;
$secondary: #064420;
$success:  #E4EFE7;
$danger:    #fdfaf6;

@import "../../Projekte/Bildergalerie/node_modules/bootstrap/scss/bootstrap.scss";

.d-block{
    object-fit: cover;
}
#insekten{
    object-position: top;
}
#text-box{
    justify-content: center;
    width: 30%;
}